<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Subscription Cancelled</title>
</head>
<body>
    <h2>Subscription Cancelled</h2>
    <p>Dear {{organizationName}},</p>
    
    <p>Your subscription has been cancelled. If this was not intended, please contact our support team immediately.</p>
    
    <p>Subscription Details:</p>
    <ul>
        <li>Plan: {{planName}}</li>
        <li>Status: Cancelled</li>
    </ul>
    
    <p>If you would like to reactivate your subscription, please contact our support team.</p>
    
    <p>Best regards,<br>
    Your Team</p>
</body>
</html> 